<ion-view view-title="Current Weather">
  <ion-content>
    <select ng-model="wc.selected_city"
    ng-options="unit.name for unit in wc.cities">
    </select>
    <div class="list">
      <div class="item">Current Conditions: {{wc.selected_city.weather.currently}}</div>
      <div class="item">Current temperature: {{wc.selected_city.weather.temperature}}</div>
      <div class="item">Current WindSpeed: {{wc.selected_city.weather.windSpeed}}</div>
      <div class="item">Current WindBearing: {{wc.selected_city.weather.windBearing}}</div>



    </div>
  </ion-content>
</ion-view>
